@import url(fonts.css);

html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
body {
  font-family: "Inter", sans-serif;
  line-height: 130%;
  font-weight: 400;
  font-size: 20px;
  color: #302e5b;
  background-color: #fff;
}
a,
button {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.container {
  max-width: 1190px;
  margin: 0 auto;
  position: relative;
  padding: 0 15px;
}
.screen-1,
.screen-3,
.screen-5,
.screen-7,
.teacher,
.footer {
  background-image: url(../images/screen-1.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.screen-1__inner {
min-height: 100vh;
  padding-top: calc(10px + (62 - 10) * ((100vw - 320px) / (1170 - 320)));
  padding-bottom: calc(20px + (83 - 20) * ((100vw - 320px) / (1170 - 320)));
  position: relative;
}
.screen-1__time-data {
  position: absolute;
  content: "";
  top: 0;
  right: 5%;
  width: 500px;
  height: 165px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}
.calendo {
  background-color: #fe9395;
  padding: 30px;
  color: #fff;
  text-align: center;
  font-size: 35px;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  font-weight: 900;
}
.time {
  font-weight: 700;
  position: relative;
  padding-left: 35px;
  width: 200px;
  align-self: center;
}
.time::before {
  position: absolute;
  content: "";
  top: -3px;
  left: -3px;
  width: 31px;
  height: 32px;
  background-image: url(../images/icons/time.svg);
  background-repeat: no-repeat;
}
.calendo__number {
  font-size: 65px;
}
.calendo__text {
  font-size: 22px;
  font-weight: 600;
}
.separator-decor::after {
  position: absolute;
  content: "";
  bottom: -25px;
  left: 0;
  right: 0;
  height: 49px;
  background-image: url(../images/icons/decor.svg);
  background-position: center;
  background-repeat: no-repeat;
}
.screen-1 .separator-decor::after {
  bottom: 0;
}
.title {
  color: #373563;
  font-size: calc(52px + 10 * (100vw / 1170));
  font-weight: 900;
  text-transform: uppercase;
  line-height: 120%;
}
.red {
  color: #ec6568;
  font-size: 28px;
  line-height: 34px;
}
.promo {
  display: flex;
  max-width: 700px;
  justify-content: space-between;
}
.promo form {
  max-width: 290px;
}
.promo__img {
  max-width: 50px;
  object-fit: contain;
  margin-right: 10px;
}

.promo__features-list {
  max-width: 318px;
  font-size: 16px;
  margin-top: -13px;
  line-height: 28px;
}
.promo__features-title {
  color: #d74e50;
  text-transform: uppercase;
}
.promo__features-item {
  display: flex;
  margin-bottom: 15px;
  letter-spacing: -1px;
}

form input {
  background-color: #fff;
  border: 2px solid transparent;
  border-radius: 42px;
  color: #a1abc7;
  box-shadow: inset 0px 1px 2px #c2d7ef;
  margin-bottom: 15px;
  margin-top: 15px;
  padding: 15px 10px 15px 20px;
  cursor: pointer;
}
form input:focus-visible {
  outline: 2px solid #e73f39;
  color: #a59715;
}
form input[type="submit"] {
  background-color: #ff5f68;
  color: #fff;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 700;
  padding: 15px 20px 15px 20px;
  box-shadow: none;
  cursor: pointer;
  width: 100%;
}
.checkbox {
  text-align: left;
}
.checkbox .text {
  font-size: 12px;
  letter-spacing: -1px;
  padding-left: 0px;
}

.link__terms {
  cursor: alias;
}
.custom-checkbox {
  position: absolute;
  z-index: -1;
  opacity: 0;
}
.custom-checkbox + label {
  display: inline-flex;
  align-items: center;
  user-select: none;
}
.custom-checkbox + label::before {
  content: "";
  display: inline-block;
  width: 1em;
  height: 1em;
  flex-shrink: 0;
  flex-grow: 0;
  border: 2px solid #e1ccda;
  border-radius: 0.25em;
  margin-right: 0.5em;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 100% 100%;
  cursor: pointer;
}
.custom-checkbox:checked + label::before {
  background-image: url(../images/icons/Vector-checked.svg);
}

form input::placeholder {
  font-size: 14px;
  color: #a1abc7;
}

.screen-2__inner {
  padding-top: 175px;
  padding-bottom: 190px;
}
.screen-2__title {
  color: #ff5f68;
  font-size: 32px;
  font-weight: 600;
  line-height: 130%;
  text-transform: uppercase;
  margin-bottom: 70px;
}

.web__features {
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  max-width: 1010px;
  gap: 45px;
  justify-content: center;
}
.features__item {
  text-align: center;
  max-width: 312px;
}
.screen__item-img,
.image {
  position: relative;
  padding-left: 45px;
  margin: 0 auto;
  margin-bottom: 25px;
}
.image {
  max-width: 80px;
  min-height: 85px;
  margin-left: 25%;
}
.screen__item-img::before,
.image::before {
  position: absolute;
  content: "";
  width: 40px;
  height: 40px;
  bottom: 0;
  left: 0;
  background-image: url(../images/icons/chekk.svg);
  background-repeat: no-repeat;
  background-size: contain;
}
.features__text {
  font-size: 18px;
  color: #373563;
}
.screen-3 {
  background-image: url(../images/screen-3.png);
}
.screen-3__inner {
  padding-top: 170px;
  padding-bottom: 180px;
  text-align: center;
}
.screen-3__title {
  font-size: 32px;
  font-weight: 600;
  text-transform: uppercase;
  line-height: 130%;
}
.title--red {
  color: #ec6568;
}
.line {
  display: inline-block;
  width: 7px;
  height: 30px;
  border-radius: 20px;
  background-color: #ec6568;
  color: inherit;
  transform: rotate(360deg);
  margin-bottom: -4px;
}
.line--blue {
  background-color: #373563;
}

.screen-3__inner .promo,
.screen-7__inner .promo {
  margin-top: 78px;
  margin: 0 auto;
}
.screen-4__inner {
  padding-top: 100px;
  padding-bottom: 115px;
  text-align: center;
}
.screen__title {
  font-size: 32px;
  font-weight: 600;
  margin-bottom: 70px;
  position: relative;
  height: min-content;
}

.screen__images {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  align-self: flex-start;
  justify-content: space-evenly;
}
.screen__item {
  max-width: 32.33%;
}
.item__title {
  color: #3d3a78;
  font-size: 20px;
  line-height: 120%;
}
.item__title .big {
  color: #9a9af0;
  font-weight: 700;
}
.screen__item-img {
  max-width: 320px;
}
.item__img {
  max-width: 280px;
  margin-left: -29%;
  height: 320px;
  object-fit: cover;
}
.screen-5 {
  background-image: url(../images/screen-5.png);
}
.screen__item--screen5,
.screen__item--screen6 {
  max-width: 24%;
  text-align: center;
  overflow: hidden;
  position: relative;
  padding-bottom: 20px;
  margin-bottom: 40px;
}
.swiper-slide {
  height: 240px;
}
.screen__item--screen5::after,
.swiper-slide::after {
  position: absolute;
  content: "";
  bottom: 0;
  left: 35%;
  width: 61px;
  border-radius: 20px;
  height: 7px;
  background-color: #373563;
  left: 50%;
  transform: translate(-50%);
}
.swiper-slide::after {
  background-image: url(../images/icons/line.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-color: transparent;
}
.screen-5__inner {
  display: flex;
  flex-wrap: wrap;
  color: #373563;
  min-height: 700px;
  align-items: center;
  padding: 50px 5px;
}
.screen__item-img--screen5 {
  max-width: 90px;
}
.screen__item-img--screen5::before {
  background-image: url(../images/icons/check.svg);
  left: -25px;
}
.item__text-main--screen5 {
  font-size: 15px;
  color: #373563;
  max-width: 87%;
}
.item__img--screen5 {
  width: 85px;
  height: 85px;
  object-fit: contain;
  margin-left: 0;
}
.screen-6__inner {
  padding-bottom: 115px;
  padding-top: 115px;
}
.item__img--screen6 {
  max-width: 200px;
  width: 100%;
  height: 105px;
  margin-left: 0;
  object-fit: contain;
}
.screen-7 {
  background-image: url(../images/screen-7.png);
  min-height: fit-content;
}
.screen-7__inner,
.teacher__inner {
  padding-top: calc(25px + (90 - 25) * ((100vw - 320px) / (1170 - 320)));
  padding-bottom: calc(25px + (90 - 25) * ((100vw - 320px) / (1170 - 320)));
  display: flex;
  flex-direction: column;
  align-items: center;
}
.screen-7__inner .promo {
  min-width: 40vw;
}

.screen-7__inner .promo .promo__features-list {
  margin-left: 7%;
}
.teacher {
  background-image: url(../images/screen-8.png);
  background-position: 0 0;
}
.teacher__inner {
  padding-bottom: 0;
  flex-direction: row;
  align-items: flex-start;
  flex-wrap: wrap;
}
.teacher__descr {
  font-size: 15px;
  line-height: 15px;
  margin-top: 0;
  margin-bottom: 45px;
}
.teacher__features {
  max-width: 560px;
}
.teacher__items {
  position: relative;
  padding-left: 68px;
  margin-bottom: 25px;
  font-size: 15px;
  line-height: 120%;
  padding-top: 12px;
}
.teacher__items::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 50px;
  height: 55px;
  background-image: url(../images/star.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
.teacher__img {
  max-width: 530px;
}
.teacer__pic {
  object-fit: cover;
}
.footer {
  align-items: center;
  background-image: url(../images/footer.png);
  background-size: cover;
  display: flex;
  justify-content: flex-end;
}
.flexible {
  display: flex;
}
.footer__cart {
  max-width: 100vw;
  margin-top: -7%;
  margin-left: -23%;
}
.footer__inner {
  height: 453px;
  display: flex;
  justify-content: space-between;
}
.cart {
  max-width: 100%;
}
.footer__contacts {
  display: flex;
  flex-direction: column;
  text-align: end;
  align-items: flex-end;
}
.contacts__title {
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 40px;
}
.tel {
  font-size: 36px;
  font-weight: 600;
}
.tel__title,
.mail__title,
.mail {
  font-size: 14px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  line-height: 120%;
  margin-bottom: 10px;
  display: inline-block;
}
.social {
  display: flex;
  gap: 24px;
  margin: 40px 0 40px;
}
.mail {
  font-size: 16px;
}
.mail__link {
  display: inline-block;
  padding-left: 35px;
  position: relative;
}
.mail__link::before {
  position: absolute;
  content: "";
  width: 19px;
  height: 14px;
  top: 3px;
  left: 0;
  background-image: url(../images/icons/email.svg);
  background-repeat: no-repeat;
  background-size: contain;
}
.screen__small {
  display: none;
}
.swiper-button-prev,
.swiper-button-next {
  display: none;
}
.swiper-slide {
  max-width: 24%;
  text-align: center;
}
.swiper-button-prev:after, .swiper-rtl .swiper-button-next:after {
  content: '';
}
.swiper-button-next:after, .swiper-rtl .swiper-button-prev:after {
  content: '';
}
@media (max-width: 1160px) {
  .screen__item--screen5,
  .teacher__inner {
    max-width: 100%;
    justify-content: center;
  }
  .flexible {
    flex-wrap: wrap;
    flex-direction: column-reverse;
    align-content: center;
    align-items: baseline;
  }
}
@media (max-width: 1153px) {

  .swiper-button-prev,
  .swiper-button-next {
    display: block;
  }
  .swiper {
    width: 100%;
    height: 100%;
  }

  .swiper-slide {
    max-width: 100%;
    text-align: center;
    font-size: 18px;
    background: #fff;
    

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
  }

  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: scale-down;
  }
}
@media (max-width: 1000px) {
  .screen-1__time-data {
    flex-flow: row-reverse;
  }
  .calendo {
    padding: calc(16px + (30 - 16) * ((100vw - 320px) / (1170 - 320)));
    font-size: calc(20px + (35 - 20) * ((100vw - 320px) / (1170 - 320)));
    margin-right: 20px;
  }
  .calendo__number {
    font-size: calc(40px + (65 - 40) * ((100vw - 320px) / (1170 - 320)));
  }
  .calendo__text {
    font-size: calc(15px + (22 - 15) * ((100vw - 320px) / (1170 - 320)));
  }
}
@media (max-width: 980px) {
  .screen-1__text {
    margin-top: calc(150px + (250 - 150) * ((100vw - 320px) / (1170 - 320)));
  }
  .footer__inner {
    padding-top: calc(50px + (100 - 50) * ((100vw - 320px) / (1170 - 320)));
  }
  .screen__images {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .screen__title,
  .screen-3__title,
  .screen-2__title {
    font-size: calc(20px + (32 - 20) * ((100vw - 320px) / (1170 - 320)));
  }
  .footer__contacts {
    align-items: center;
    text-align: center;
  }
}
@media (max-width: 767px) {
  .screen-1__time-data {
    width: 97vw;
    left: 4%;
  }
  .title {
    font-size: calc(30px + (16 + 16 * 0.7) * ((100vw - 320px) / 1170));
  }
  .promo {
    flex-direction: column;
  }
  .promo form {
    max-width: 100vw;
    padding-right: 15px;
  }
  .promo form input {
    width: 100%;
  }
  .promo__features-list {
    max-width: 100%;
  }
  .teacher__img .teacer__pic {
    max-width: 85%;
  }
  .screen__small {
    display: inline-block;
    object-fit: cover;
    max-width: calc(308px + (452 - 308) * ((100vw - 320px) / (1170 - 320)));
  }
  .screen__item {
    max-width: 100%;
}
}
@media (max-width: 560px) {
  .screen-3__inner,
  .screen-2__inner {
    padding-top: calc(50px + (180 - 50) * ((100vw - 320px) / (1170 - 320)));
    padding-bottom: calc(50px + (180 - 50) * ((100vw - 320px) / (1170 - 320)));
  }
  .screen-1 .container {
    padding-bottom: calc(
      320px + (450 - 320) * ((100vw - 320px) / (1170 - 320))
    );
    background-position-y: bottom;
    background-position-x: center;
    background-size: auto;
    background-repeat: no-repeat;
    background-image: url(../images/screen_1_bg320.png);
  }
}
